ðŸ”¹ CELL 1: Import Required Libraries

In [1]:
import pandas as pd
import numpy as np

ðŸ”¹ CELL 2: Load the Datasets

In [3]:
titanic_df = pd.read_csv("/content/Titanic-Dataset.csv")
students_df = pd.read_csv("/content/student-por.csv")

ðŸ”¹ CELL 3: Display First Few Records

In [5]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
students_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

ðŸ”¹ CELL 4: Display Last Few Records

In [7]:
titanic_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
students_df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

ðŸ”¹ CELL 5: Observation on Dataset Structure
### Dataset Structure Observation

- The datasets are organized in tabular format with rows and columns.
- Each row represents one observation.
- Columns represent features related to passengers or students.
- Both datasets contain a mix of numerical and categorical data.

ðŸ”¹ CELL 6: Dataset Information & Data Types

In [9]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

ðŸ”¹ CELL 7: Observation on Data Types & Missing Values
### Data Types and Missing Values

-Numerical columns are stored as integers or floats.
-Categorical columns are stored as object data types.
-The Titanic dataset contains missing values in columns such as Age and Cabin.
-The Students Performance dataset contains no missing values.
-Understanding data types helps in selecting appropriate preprocessing and ML techniques.

ðŸ”¹ CELL 8: Statistical Summary of Numerical Data

In [11]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
students_df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

ðŸ”¹ CELL 9: Explanation of Statistical Summary
### Statistical Summary Explanation

- `count` shows number of non-null values
- `mean` indicates average value
- `min` and `max` show range of values
- `std` shows data spread
- This helps detect outliers and data distribution

ðŸ”¹ CELL 10: Feature Type Identification
## Feature Type Identification

### Titanic Dataset
- **Numerical:** Age, Fare, SibSp, Parch  
- **Categorical:** Sex, Embarked, Cabin  
- **Binary:** Survived (0 = No, 1 = Yes)  
- **Ordinal:** Pclass (1st, 2nd, 3rd)

### Students Performance Dataset (student-por.csv)
- **Numerical:** age, Medu, Fedu, traveltime, studytime, failures, absences, G1, G2, G3  
- **Categorical:** school, sex, address, famsize, Pstatus, Mjob, Fjob, reason, guardian  
- **Binary:** schoolsup, famsup, paid, activities, nursery, higher, internet, romantic  
- **Ordinal:** studytime, famrel, health (rated on ordered scales)


ðŸ”¹ CELL 11: Unique Values in Categorical Columns

In [13]:
titanic_df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [14]:
titanic_df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [17]:
students_df['sex'].unique()

array(['F', 'M'], dtype=object)

In [18]:
students_df['school'].unique()

array(['GP', 'MS'], dtype=object)

In [19]:
students_df['internet'].unique()

array(['no', 'yes'], dtype=object)

In [20]:
students_df['romantic'].unique()

array(['no', 'yes'], dtype=object)

ðŸ”¹ CELL 12: Categorical Distribution Observation
### Categorical Data Distribution

- Categorical features contain limited unique values.
- Some categories appear more frequently than others.
- This indicates possible class imbalance.
- Understanding distribution helps avoid biased ML models.

ðŸ”¹ CELL 13: Identify Target Variable & Input Features
## Target Variable and Input Features

### Titanic Dataset
- **Target Variable:** Survived
- **Input Features:** Age, Sex, Fare, Pclass, SibSp, Parch

### Students Performance Dataset
- **Target Variable:** G3 (final grade)
- **Input Features:** age, Medu, Fedu, studytime, failures, absences, family and school-related attributes

The target variable is the output that the machine learning model aims to predict.

ðŸ”¹ CELL 14: Dataset Size Analysis

In [21]:
titanic_df.shape

(891, 12)

In [22]:
students_df.shape

(649, 33)

ðŸ”¹ CELL 15: Dataset Size Observation
### Dataset Size Analysis

- Number of rows represents the number of samples.
- Number of columns represents features.
- Both datasets are suitable for basic machine learning models.
- Dataset size is sufficient for training and evaluation.

ðŸ”¹ CELL 16: Data Quality Observations
## Data Quality Observations

The Titanic dataset contains missing values in Age and Cabin columns.
The Students Performance dataset does not contain missing values.
Some categorical features may show imbalance.
Categorical variables will require encoding before modeling.
Numerical variables may require scaling.
Data preprocessing is necessary before applying machine learning algorithms.

ðŸ”¹ CELL 17: Final Conclusion
## Final Conclusion

The structure and data types of both datasets were clearly analyzed.
Features were correctly classified into numerical, categorical, binary, and ordinal types.
Target variables were identified for machine learning tasks.
Both datasets are suitable for machine learning after appropriate preprocessing.
This task establishes a strong foundation for future modeling steps.